.timeline-container {
  border: 1px solid #64a1a5;
  background-color: #64a1a5;
  box-shadow: 2px 2px #b4d8da;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.timeline-container .timeline-title {
  width: 100%;
  border-bottom: 1px solid #b4d8da;
  color: #f7ae7e;
  font-size: calc(5px + 2vmin);
}

.timeline-container .timeline-body {
  margin-top: 15px;
  width: 100%;
}

.timeline-body-tweet {
  display: flex;
  margin: 8px 0;
}

.timeline-body-tweet p {
  margin: 10px 0;
}

.timeline-body-tweet .tweet-img {
  width: 25%;
}

.timeline-body-tweet .tweet-img img {
  width: 75px;
  height: 75px;
}

.timeline-body-tweet .tweet-text {
  width: 75%;
}
